<p style="color: green"><%= notice %></p>

<%= render @todo_list %>

<div class="padding-bottom">
  <%= link_to "View items", todo_list_todo_list_items_path(@todo_list) %> |
  <%= link_to "Edit this todo list", edit_todo_list_path(@todo_list) %> |
  <%= link_to "Back to todo lists", todo_lists_path %>
</div>

<% unless @todo_list.completed? %>
  <div class="padding-top">
    <%= button_to "Complete this todo list", todo_list_complete_tasks_path(todo_list_id: @todo_list.id), method: :put %>
  </div>
<% end %>

<div class="padding-top">
  <%= button_to "Destroy this todo list", @todo_list, method: :delete %>
</div>
